<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Nhà sách trực tuyến TikiTaka- TikiTaka.com</title>
    <script src="/js/checkPayment.js"></script>
</head>

<body>
    <header class="header" th:include="header :: header"></header>

    <div class="container checkout-container">
        <div class="checkout-left clear-fix">
            <div class="checkout-product-container">
                <h2>Thông tin sản phẩm</h2>
                <div class="check-product-content">
                    <div class="checkout-product" id="checkout-product"></div>
                    <div class="checkout-order-container">
                        <div class="checkout-order-summary">
                            <div class="checkout-summary-label">Tạm tính: </div>
                            <div class="checkout-summary-value" id="divThanhTien"></div>
                        </div>
                        <div class="checkout-order-summary">
                            <div class="checkout-summary-label">Phí vận chuyển: </div>
                            <div class="checkout-summary-value">25,000đ</div>
                        </div>
                        <div class="checkout-order-summary">
                            <div class="checkout-summary-label">Tổng cộng: </div>
                            <div class="checkout-summary-value" id="divTotal"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-right">
            <h2>THÔNG TIN THANH TOÁN</h2>
            <div class="checkout-content">
                <form class="checkout-form" id="checkout-form" method="post">
                    <div class="form-group">
                        <label for="name">Họ và tên người nhận</label>
                        <input type="text" id="name" name="name" class="checkout-input" th:value="${account.hoTen}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="checkout-input" th:value="${account.email}">
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <input type="tel" id="phone" name="phone" class="checkout-input" th:value="${account.soDienThoai}" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ</label>
                        <input type="text" id="address" name="address" class="checkout-input" th:value="${account.diaChi}" required>
                    </div>
                    <button type="submit" class="checkout-btn" onclick="postData()">Đặt hàng</button>
                </form>
                <div class="payment-method-box">
                    <h2>PHƯƠNG THỨC THANH TOÁN</h2>
                    <label>
                        <input type="radio" name="payment-method" value="credit-card" checked>
                        <img src="/img/cash.svg" alt="">Thanh toán khi nhận hàng (COD)
                    </label>
                    <!-- <label>
                        <input type="radio" name="payment-method" value="paypal" checked>
                        <img src="/img/momo.svg" alt=""> Momo
                    </label> -->
                </div>
            </div>
        </div>
    </div>

    <footer th:include="footer :: footer" class="container footer-container"></footer>
</body>
<script src="/js/main.js"></script>

<script>
    function postData() {
        var cart = [
            {
                "ID": 1,
                "Ten": "Book 1",
                "Hinh": "image1.jpg",
                "Gia": 20.00,
                "SoLuong": 2
            },
            {
                "ID": 2,
                "Ten": "Book 2",
                "Hinh": "image2.jpg",
                "Gia": 20.00,
                "SoLuong": 4
            },
        ];

        sendCartData(cart);
    }
    function sendCartData(cart) {
        // Use Axios to send data
        axios.post('/giohang/thanhtoan', cart, {
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            // Handle the response from the server if needed
            console.log(response.data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

</script>
</html>